<ion-view view-title="Выполнение заказа">
    <ion-content>
        <!-- <div class="tabs">
            <a class="tab-item">Инфо</a>
            <a class="tab-item">Такометр</a>
            <a class="tab-item">Карта</a>
        </div> -->
        <ion-tabs>
            <ion-tab title="Инфо" href="#{{ROUTES.TAB}}{{ROUTES.INFO}}">
                <!-- Tab 1 content -->
            </ion-tab>
            <ion-tab title="Такометр" href="#{{ROUTES.TAB}}{{ROUTES.TAXIMETER}}">
                <!-- Tab 2 content -->
            </ion-tab>
            <ion-tab title="Карта" href="#{{ROUTES.TAB}}{{ROUTES.MAP}}">
                <!-- Tab 3 content -->
            </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>
