.modal-close{
	position: absolute;
	right: 0;
	font-size: 18px;
	margin-right: 15px;
	margin-top: 6px;
	color: #fff;
}

/* .price {
    font-weight: bold;
} */

.details-btm {
    position: absolute;
    bottom: 0;
}
